<div *ngFor="let story of filteredStories">
  <mat-card class="box">
    <div>
      <a *ngIf="story.type === 'story'" [href]="story.url" target="_blank">
        <mat-card-title class="story-title">{{ story.title }}</mat-card-title>
      </a>
      <ng-container *ngIf="story.type !== 'story'">
        <mat-card-title class="story-title-sec">{{
          story.title
        }}</mat-card-title>
      </ng-container>
      <br />
      <div class="fix-comments">
        <div class="article-info-container">
          <mat-card-subtitle class="sub-fix"
            >By: {{ story.by }}</mat-card-subtitle
          >
          <mat-card-subtitle class="sub-fix"
            >Date: {{ story.time | date : "medium" }}</mat-card-subtitle
          >
          <mat-card-subtitle class="sub-fix"
            >Type: {{ story.type }}</mat-card-subtitle
          >
        </div>
        <div class="button-comments">
          <button mat-button color="accent" (click)="showComments(story.id)">
            <span class="button-text"
              >Ver Comentarios ({{ story.descendants }})</span
            >
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<mat-paginator
  class="pagination_container"
  [pageSize]="pageSize"
  [pageIndex]="currentPage - 1"
  [length]="topStoriesIds.length"
  (page)="changePage($event.pageIndex + 1)"
>
</mat-paginator>
